<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>axton</title>
</head>
<body>
  <header>
    <div class="container">
      <div class="heading-content">
        <div class="heading__top">
          <h1 class="heading__h1">axton</h1>
          <a href="#" class="heading__link">
            <svg width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.59 1.41L14.17 5H0V7H14.17L10.58 10.59L12 12L18 6L12 0L10.59 1.41ZM19 0V12H21V0H19Z" fill="black"/>
              </svg>
            Личный кабинет
          </a>
        </div>
        <nav class="heading__nav">
          <ul class="nav__list list-reset">
            <li class="nav__item"><a href="#">Статьи</a></li>
            <li class="nav__item"><a href="#">Посты</a></li>
            <li class="nav__item"><a href="#">Новости</a></li>
            <li class="nav__item"><a href="#">Авторы</a></li>
          </ul>
        </nav>
      </div> 
    </div>
  </header>
  <main>

  </main>
  <footer>

  </footer>
</body>
</html>